@charset "utf-8";
/* CSS Document */
#illustrat{
	position:relative;
	float:left;
	background-image:url(../images/galledy/galledy_ilu.png);
	background-repeat:no-repeat;
	width:169px;
	height:73px;
	top:40px;
	left:65px;
	z-index:2;
}
#content1{
	position:relative;
	top:-14px;
	width:auto;
	height:auto;
}
#content2{
	margin-top:10px;
	position:relative;
	width:auto;
	height:auto;
}
#content3{
	position:relative;
	width:auto;
	height:auto;
}
#bj{
	position:relative;
	left:60px;
	z-index:0;
}
#changebj{
	position:absolute;
	z-index:1;
}


/*图片区域设定*/
.workshow{
	position:relative;
	float:left;
	width:163px;
	height:228px;
	overflow:hidden;
	background:#Fff;
	margin-top:3px;
	margin-left:25px;
	margin-bottom:14px;
}
.cover{
	position:absolute;
	top:0;
	left:0;
	width:163px;
	height:228px;
	color:#0a2a41;
	background-image:url(../images/galledy/cover1.png);
	background-repeat:no-repeat;
}
.cover:hover{
	position:absolute;
	top:0;
	left:0;
	width:163px;
	height:228px;
	color:#fff;
	background-image:url(../images/galledy/cover2.png);
	background-repeat:no-repeat;
}
.workpic{
	width:153px;
	height:153px;
	padding:5px;
}
.workshow p{
	position:absolute;
	font-size:13px;
	left:15px;
	bottom:24px;
}

/*END of 图片区域*/